body  {
    background-color: gray;
}
header {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 58px;
    text-align: center;

}

#WholeEightballContainer{
        

}

.EightBallContainer, .EightballButton {
    display: flex;
    justify-content: center;
   }
   .EightBallContainer{
        padding: 5rem;
        z-index: -1;
   }
.EightballButton button {

    color: white;
    width: 18%;
    height: 4rem;
    background-color: red;
    border-color: gray;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    
}

.TextResponseBox {
    text-emphasis: Bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: blue;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
    width: 109px;
    height: 110px;
    position: relative;
    -ms-transform: translateY(-373px);
    transform: translateY(-373px);
    

    
}



.images {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    animation-duration: 2 secs;
    
  
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
  }
  
  @keyframes shake {
      
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  









@media(max-width: 960px) {
    #WholeEightballContainer{ 
        width: 100%;
        

    }


}